---
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"sections">;
  headingClass?: string;
}

const { entry, headingClass } = Astro.props;
const { Content } = await entry.render();
---

<div class={headingClass}>
  <Content />
</div>
